{
  "extends": ["eslint:recommended", "plugin:vue/vue3-essential", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": "warn",
    "no-debugger": "warn"
  }
}
